@charset "utf-8";

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: grey;
}

.nav-item:hover {
  color: grey;
}

.hero {
  background-position: center;
  background-size: cover;
  filter: grayscale(50%);
  height: max(150px, 90vh);
}

.hours {
  font-size: min(max(0.5rem, 1.5vw), 1rem);
  padding: 0.2rem 0.8rem;
}

.title {
  font-size: min(max(1rem, 8vw), 80px);
  font-family: 'Dancing Script';
}

.address {
  font-size: min(max(0.5rem, 1.5vw), 1rem);
  padding: 0.2rem 0.8rem;
}

@media (max-width: 577px) {
  .hero {
    height: max(150px, 60vh);
  }

  .google-map {
    height: 40vh;
    width: 100%;
    margin-bottom: 5rem;
  }
}

@media (min-width: 576px) {
  .google-map {
    height: 70vh;
    width: 100%;
    margin-bottom: 5rem;
  }
}

.leftbar {
  border-left: 6px solid #ccc;
  color: #000;
  background-color: #f1f1f1;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  // padding: 0.5rem 1rem;
  // display: flex;
}

.map-pin {
  font-size: 1rem;
  color: red;
}

.scroll-up {
  mix-blend-mode: screen;
  
  // positioning
  z-index: 2;
  position: fixed;
  bottom: 5vh;
  right: 5vh;
}

.cursor-pointer {
  cursor: pointer;
}

.backdrop-filter {
  backdrop-filter: blur(10px);
}

.opaque {
  background-color: rgba(0, 0, 0, 0.5);
}

.handwriting {
  font-family: 'Dancing Script';
}

.text-justify {
  text-align: justify;
  text-justify: auto;
}