@charset "utf-8";
@import 'custom-bootstrap';

body {
  background-image: url('../images/background.svg');
  background-size: 150px 150px;
}

a {
  color: $green;

  &:hover {
    color: $button;
  }
}

.bg-green {
  background-color: $green;
}

.bg-dark-green {
  background-color: $dark-green;
}

.nav-link {
  cursor: pointer;
  color: inherit;
}

.nav-link:hover {
  color: $gray-100;
  text-decoration: underline $gray-400;
}

.nav {
  color: $gray-400;
  font-size: 1rem;

  @include media-breakpoint-up(md) {
    font-size: 1.4rem;
  }
}

.hero {
  background-color: $opaque;
  background-position: center;
  background-size: cover;
}

@mixin clipPath($shape) {
  clip-path: $shape;
  webkit-clip-path: $shape;
}

.hero__bg-img {
  position: relative;
  margin-bottom: -5rem;
  height: max(450px, 90vh);
  @include clipPath(polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10vh)))
}

.hero__hours {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: min(max(0.5rem, 1.5vw), 1rem);
  padding: 0.2rem 0.8rem;
}

.hero__title {
  font-size: min(max(1rem, 15vw), 120px);
}

.hero__title-img {
  width: max(80px, 10vw);
  height: max(80px, 10vw);
}

.hero__address {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: min(max(0.5rem, 1.5vw), 1rem);
  padding: 0.2rem 0.8rem;
}

.google-map {
  height: 40vh;
  width: 100%;
  margin-bottom: 1rem;

  @include media-breakpoint-up(sm) {
    height: 70vh;
    width: 100%;
    margin-bottom: 1rem;
  }
}

.leftbar {
  border-left: 6px solid $pink;
  color: #000;
  background-color: #f1f1f1;
}

.map-pin {
  font-size: 1rem;
  color: $pink;
}

.scroll-up {
  mix-blend-mode: multiply;

  // positioning
  z-index: 2;
  position: fixed;
  bottom: 5vh;
  right: 5vh;
}

.cursor-pointer {
  cursor: pointer;
}

.backdrop-filter {
  backdrop-filter: blur(10px);
}

.opaque {
  background-color: $opaque;
}

.handwriting {
  font-family: 'Dancing Script';
  // font-weight: 700;
}

.text-justify {
  text-align: justify;
  text-justify: auto;
}

.pink {
  color: $pink;
}

.border-cafe {
  border: 30px solid $green;
  border-image-source: url('../images/border.svg');
  border-image-slice: 60;
  border-image-repeat: round;
}
