@charset "utf-8";
@import 'custom-bootstrap';

$green: hsl(138, 68%, 95%);
$dark-green: hsl(139, 86%, 6%);
$opaque: hsla(140, 95%, 8%, 0.2);
$pink: hsl(350, 30%, 59%);

$mynewcolor: $dark-green;
.btn-primary {
  @include button-variant(
    $mynewcolor,
    darken($mynewcolor, 7.5%),
    darken($mynewcolor, 10%),
    lighten($mynewcolor, 10%),
    lighten($mynewcolor, 20%),
    darken($mynewcolor, 30%)
  );
}

.btn-outline-primary {
  @include button-outline-variant(
    $mynewcolor,
    #222222,
    lighten($mynewcolor, 5%),
    $mynewcolor
  );
}

.bg-green {
  background-color: $green;
}

.bg-dark-green {
  background-color: $dark-green;
}

a {
  cursor: pointer;
  color: inherit;
  // text-decoration: none;
}

a:hover {
  color: $dark-green;
}


.nav-item:hover {
  color: $dark-green;
}

.hero {
  background-color: $opaque;
  background-position: center;
  background-size: cover;
  height: max(150px, 90vh);
}

.hero-img {
  // height: max(150px, 90vh);
  background-blend-mode: darken;
}

.hours {
  font-size: min(max(0.5rem, 1.5vw), 1rem);
  padding: 0.2rem 0.8rem;
}

.title {
  font-size: min(max(1rem, 20vw), 120px);
  // font-size: min(min(30vh, 30vw), 120px);
}

.address {
  font-size: min(max(0.5rem, 1.5vw), 1rem);
  padding: 0.2rem 0.8rem;
}

@media (max-width: 577px) {
  .hero {
    height: max(150px, 60vh);
  }

  .google-map {
    height: 40vh;
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (min-width: 576px) {
  .google-map {
    height: 70vh;
    width: 100%;
    margin-bottom: 1rem;
  }
}

.leftbar {
  border-left: 6px solid $pink;
  color: #000;
  background-color: #f1f1f1;
}

.map-pin {
  font-size: 1rem;
  color: red;
}

.scroll-up {
  mix-blend-mode: multiply;

  // positioning
  z-index: 2;
  position: fixed;
  bottom: 5vh;
  right: 5vh;
}

.cursor-pointer {
  cursor: pointer;
}

.backdrop-filter {
  backdrop-filter: blur(10px);
}

.opaque {
  background-color: $opaque;
}

.handwriting {
  font-family: 'Dancing Script';
  // font-weight: 700;
}

.text-justify {
  text-align: justify;
  text-justify: auto;
}

.pink {
  color: $pink;
}

